@font-face {
    font-family: 'NotoSansCJKjp';
    src: url('../fonts/NotoSansCJKjp-Black.otf');
    src: url('../fonts/NotoSansCJKjp-Bold.otf');
    src: url('../fonts/NotoSansCJKjp-DemiLight.otf');
    src: url('../fonts/NotoSansCJKjp-Light.otf');
    src: url('../fonts/NotoSansCJKjp-Medium.otf');
    src: url('../fonts/NotoSansCJKjp-Regular.otf');
    src: url('../fonts/NotoSansCJKjp-Thin.otf');
    src: url('../fonts/NotoSansMonoCJKjp-Bold.otf');
    src: url('../fonts/NotoSansMonoCJKjp-Regular.otf');
    }
