.image-box {
    background-color: $color-gray;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    transition: all .5s;
    
    &:hover{
        border-color: $color-primary;
    }
    &__thumb {
        float: left;
        margin-right: 10px;
        width: 135px;
        .dnfix__thumb{
            padding-top: 100%;
            background-color: #fff;
        }
    }
    &__content {
        overflow: hidden;
        .content-button {
            margin-bottom: 4px;
        }
        .check-input {
            width: 18px;
            height: 18px;
            border-color: $color_primary;
            outline: 1px solid #0A4CE0;
            outline-offset: -1px;
        }
        .button {
            background-color: $color-primary;
            border-radius: 20px;
            padding: 0px 14px;
            font-size: 12px;
            font-weight: 500;
            min-width: 68px;
            a {
                color: $color-white;
            }
            &:hover{
                background-color: #276AFF;
            }
        }
        .meta {
            font-size: 13px;
            font-weight: 500;
            color: $color-black-2;
            font-family: 'Montserrat', sans-serif;
        }
        .title {
            color: $color-primary;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            margin-bottom: 3px;
            &.-st2{
                margin-bottom: 0;
                line-height: 16px;
                color: #222222;
                a{
                    color: #222222;
                }
                + .des{
                    .sku{
                        margin-top: 5px;
                    }
                }
            }
            a {
                color: $color-primary;
            }
            &:hover{
                a{
                    color: #276AFF;
                }
            }
        }
        .des {
            color: #222222 !important;
            .pdf {
                display: inline-block;
                background: $color-red;
                font-family: 'Montserrat', sans-serif;
                font-size: 10px;
                line-height: 13px;
                font-weight: 500;
                padding: 0px 5px;
                color: $color-white;
                text-transform: uppercase;
                position: relative;
                top: -2px;
                margin-left: 2px;
            }
        }
        .sku{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: $color_primary;
        }
    }
    &.style-2 {
        .image-box__content {
            .button {
                &.style-2 {
                    background: transparent;
                    border-radius: 6px;
                    border: 1px solid $color-primary;
                    color: $color-primary;
                    &:hover {
                        color: $color-white;
                        background: $color-primary;
                    }
                }
            }
            .title {
                font-size: 14px;
                margin-bottom: 0px;
            }
            .des {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 10px;
            }
            .bottom {
                p {
                    color: $color-primary;
                    font-weight: 500;
                    font-size: 12px;
                    margin-right: 8px;
                }
            }
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 20px;
        max-width: 100%;
        &__thumb {
            max-width: 125px;
        }
        &.-mb-sm{
            .image-box__thumb {
                max-width: 80px;
            }
            .des {
                color: #333333 !important;
                width: 100%;
                &:before{
                    content: "";
                    display: table;
                    clear: both;
                }
            }
        }
        &__content {
            overflow: initial;
            .title {
                margin-bottom: 10px;
            }
            .des {
                br {
                    display: none;
                }
            }
        }
        &.style-2{
            .image-box__content{
                .title {
                    font-size: 16px;
                }
                .des {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.video-box {
    background-color: $color-gray;
    padding: 20px 10% 15px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    &__thumb {
        position: relative;
        margin-bottom: 10px;
        .icon-play {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 50px;
            height: 50px;
            background: #EFEFEF;
            display: block;
            line-height: 50px;
            text-align: center;
            font-size: 22px;
            color: #fff;
            border-radius: 50%;
            &:before{
                position: relative;
                left: 3px;
            }
        }
        &.style-2 {
            .icon-play{
                background-color: $color_primary;
            }
        }
        
    }
    &__content {
        .meta {
            font-size: 13px;
            font-weight: 500;
            color: $color-black-2;
            font-family: 'Montserrat', sans-serif;
        }
        .check-input {
            width: 18px;
            height: 18px;
        }
        .title {
            color: $color-primary;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            margin-bottom: 3px;
            &:hover{
                color: #276AFF;
            }
        }
    }
    @media (max-width: 767px) {
        padding: 20px 15px;
        margin-bottom: 20px;
        &__content {
            .title {
                margin-bottom: 8px;
            }
            .des {
                br {
                    display: none;
                }
            }
        }
    }
}

.modal-content {
    .video-box {
        &__thumb {
            &:before {
                content: none;
            }

            iframe {
                width: 100%;
                height: 360px;
            }
        }
    }
}

.social-fixed {
    position: fixed;
    right: 30px;
    top: 20vh;

    &__item {
        background-color: $color-green;
        width: 73px;
        height: 73px;
        border-radius: 6px;
        padding: 6px 0px;
        margin-bottom: 20px;
        text-align: center;
        a {
            display: block;
            color: $color-white;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            height: 100%;
            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
            }
           
        } 
        &:hover{
            background-color: #52D373;
        }
        &.cart {
            background-color: $color-primary;
            &:hover{
                background-color: #276AFF;
            }
        }
        .item__s1{display: block;}
        .item__s2{display: none;}
        &:hover{
            .item__s1{display: none;}
            .item__s2{display: block}
        }
    }
    @media (max-width: 767px) {
        @include flex-content(wrap, center, center);
        right: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        &__item {
            width: 50%;
            height: 50px;
            border-radius: 0;
            margin-bottom: 0;
            a {
                @include flex-content(wrap, center, center);
                width: 100%;
                p {
                    font-size: 15px;
                    font-weight: 400;
                    margin-left: 5px;
                }
            }
        }
    }
}

.section {
    &-page {
        padding: 80px 0px 80px;
        font-size: 14px;
        @media (max-width: 991px) {
            padding: 30px 0px 50px;
        }
    }
    &--download-detail {
        padding: 0px 0px 80px;
        .header__title {
            font-size: 20px;
            line-height: 29px;
            margin: 50px 0px 20px;
        }
        @media (max-width: 991px) {
            padding-bottom: 50px;
            .header__title {
                margin-top: 30px;
            }
        }
    }
}

.title-page {
    margin-bottom: 30px;
    .title {
        color: $color-black-2;
        font-size: 26px;
        letter-spacing: 0.4px;
        line-height: 37px;
        margin-bottom: 5px;
    }
    .sub {
        font-size: 14px;
        color: $color-primary;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
}

.search-page {
    max-width: 550px;
    margin: 0 auto 40px;
    display: flex;
    flex-wrap: wrap;
    .form-text {
        width: calc(100% - 130px);
        margin-top: 0;
        .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            outline: none;
            box-shadow: none;
            background-color: $color-gray-4;
            border-color: $color-gray-4;
            font-size: 15px;
            color: $color-gray-3;
            height: 46px;
            &::placeholder {
                color: $color-gray-3;
            }
            &:hover{
                background-color: #F0F0F0;
            }
        }
       
    }
    .form-button {
        width: 130px;
    }
    .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        outline: none;
        box-shadow: none;
        background-color: $color-primary;
        color: $color-white;
        font-size: 15px;
        width: 100%;
        height: 46px;

        &.color-blue {
            background: $color-blue-2;
        }

        &.lineheight-33 {
            line-height: 35px;
        }
        &:hover{
            background-color: #46b161;
            border-color: #46b161;
            color: #fff;
        }
    }
}

.wrapper-page {
    position: relative;
    font-size: 16px;
    .content-top {
        @include flex-content(wrap, space-between, center);
        padding-bottom: 10px;
        border-bottom: 1px solid $color-primary;
        margin-bottom: 10px;
        &__label {
            color: $color-primary;
            font-size: 24px;
            font-weight: 500;
            font-family: 'NotoSansCJKjp';
        }
        &__right {
            display: flex;
            align-items: center;
            p {
                margin-right: 15px;
            }
        }
        &.-s2{
            .fake-checkbox{
                margin-right: 10px;
            }
        }
        
        @media (max-width:767px) {
            flex-direction: column;
            border: 0!important;
            &__label {
                &:not(.-mb-border-0){
                    margin-bottom: 10px;
                    width: 100%;
                    border-bottom: 1px solid $color_primary;
                    padding-bottom: 5px;
                }
            }
            &__right {
                align-self: flex-end;
                >p{
                    display: none;
                }
            }
            &.-s2{
                .content-top__label{
                    order: 2;
                }
                .btn__list-tick {
                    margin-left: auto;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .content-bottom {
        @include flex-content(wrap, flex-end, center);
        margin-bottom: 20px;
        p {
            margin-right: 15px;
        }
        .wrap-select {
            position: relative;
            select {
                height: 36px;
                min-width: 136px;
                border: 1px solid $color-gray-3;
                border-radius: 8px;
                appearance: none;
                font-size: 14px;
                color: $color-black-2;
                padding: 2px 20px 2px 13px;
                outline: none;
                box-shadow: none;
                cursor: pointer;
                &::-ms-expand {
                    display: none;
                }
            }
            &::after{
                color: #222222;
            }
        }
        &.style-2 {
            justify-content: space-between;
        }
        @media (max-width: 767px) {
            &:not(.-mb-style1) {
                position: absolute;
                bottom: 10px;
                left: 0;
                margin-bottom: 0;
            }
            >p{
                display: none;
            }
            
        }
    }

    
}

.before-select {
    position: relative;
    &::after{
        content: "\e908";
        font-family: 'icomoon';
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
        color: $color_primary;
    }

    &.right-15 {
        display: inline-block;
        &:before {
            right: 15px;
        }
    }
}

.load-more-article {
    margin-top: 30px;
    @media (max-width:767px) {
     margin-top: 0;
    }
}

.btn_modal_video {
    background: rgba(255, 255, 255, 0);
    padding: 0;
    border: none;
    position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:48%;

    &:focus {
        outline: none;
    }
    >img{
        margin:0px auto;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover; border-radius: 10px;
    }
    @media(max-width:767px) {
        padding-top: 64%;
        min-height: 200px;
    }
}

// topic
.box-list {
    padding: 30px;
    max-width: 385px;
    background: $color-gray-7;
    margin-bottom: 20px;

    ul {
        background: $color-white;

        li {
            font-size: 15px;
            color: $color-black-2;
            line-height: 26px;
            border-bottom: 1px solid $color-gray-7;
            padding: 7px 10px;
        }
    }
}

.arrow {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    display: inline-block;
    border: 1px solid $color-primary;

    img {
        max-width: 5px;
    }
}

.title-general {
    font-size: 24px;
    line-height: 36px;
    color: $color-primary;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid $color-primary;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.text-general {
    font-size: 16px;
    line-height: 24px;
}

.font-small {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.font-light {
    font-size: 11px;
}
