@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin-top: 100px;
    }
}

@media (min-width: 800px) {
    .modal-dialog {
        max-width: 769px;
    }
}

@media (min-width: 991px) {
    .modal-dialog {
        &.width-1090 {
            max-width: 800px;
        }
    }
}

@media (min-width: 1120px) {
    .modal-dialog {
        &.width-1090 {
            margin-top: 50px;
            max-width: 1090px;
        }
    }
}


@media (max-width: 576px) {
    .modal-dialog {
        margin-top: 50px;
    }
}

.modal {

    &-open .modal {
        background: #707070;
    }

    &-header {
        position: relative;
        border: none;
        padding: 0;
        .close {
            position: absolute;
            right: -31px;
            top: -31px;
            width: 59px;
            height: 59px;
            background-color: #0A4CE0;
            color: #fff;
            padding: 0;
            border-radius: 50%;
            opacity: 1;
            margin: 0;
            outline: none;
            font-size: 21px;
            &:hover {
                opacity: 1!important;
            }
        }
    }

    &-body {
        padding: 40px 20px;
        .title-modal {
            text-align: center;
            font-size: 26px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .modal-sub {
            text-align: center;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            margin-bottom: 40px;
        }

        .box-item {
            max-width: 540px;
            margin: 0 auto 20px;
            background-color: $color-green-2;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            &:last-child{
                margin-bottom: 0;
            }
            .text {
                font-size: 16px;
                font-weight: 500;
                color: $color-black-2;
                padding-left: 17px;
            }

            .button {
                background-color: $color-green;
                border-color: $color-green;
                min-width: 230px;
                // height: 50px;
                font-size: 14px;
                font-weight: 500;
                line-height: 30px;
                &:hover{
                    background-color: #52D373;
                    color: #fff;
                    border-color: #52D373;
                }
                &:after {
                    content: "\e903";
                    font-family: 'icomoon';
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    transition: all 0.3s;
                }
                &.-st2{
                    &:after {
                        content: "\e916";
                        font-family: 'icomoon';
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        transition: all 0.3s;
                        font-size: 13px;
                    }
                    &:hover{
                        &:after {
                            content: "\e903";
                            font-family: 'icomoon';
                            font-size: 20px;
                            color: #fff;
                        }
                    }
                }
                
            }

            .modal-contact {
                border-left: 1px solid $color-gray-5;
                padding-left: 10px;

                p {
                    font-size: 12px;
                    font-weight: 500;
                    color: $color-black-2;
                    line-height: 23px;
                }

                .phone {
                    a {
                        font-size: 20px;
                        color: $color-green;
                        img {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    &--contact{
        .modal{
            &-body {
                padding: 60px 20px;
                .box-item {
                    padding: 10px 5px;
                    .modal-contact {
                        padding-left: 25px;
                    }
                }
                
            }
        }
       
    }
    &--video {
        .modal-dialog {
            margin-top: 25px;
        }
        .modal-title{
            font-size: 18px;
            font-weight: 500;
            color: $color_primary;
        }
        .modal-content{
            padding: 30px 50px 50px;
            border-radius: 10px;
        }
        .modal-body {
            padding: 15px 0 0;
        }
        .video-box__thumb {
            margin-bottom: 0;
            height: 360px;
        }
        .modal-header .close {
            right: -78px;
            top: -59px;
            font-size: 20px;
        }
        @media (min-width: 768px) {
            .modal-dialog {
                max-width: 700px;
            }
        }
        @media (max-width: 767px) {
            .modal-dialog {
                max-width: 100%;
            }
            .modal-content {
                margin: 15px;
                padding: 35px 15px;
            }
            .modal-header .close {
                width: 38px;
                height: 38px;
                right: -27px;
                top: -54px;
                font-size: 14px;
            }
        }
    }

    &--logout {
        .modal-dialog {
            margin-top: 25px;
        }
        .modal-title{
            font-size: 16px;
            color: #222222;
        }
        .modal-content{
            padding: 50px 15px 35px;
            border-radius: 10px;
            text-align: center;
        }
        .modal-body {
            padding: 30px 0 0;
        }
        .modal-header{
            .close {
                right: -40px;
                top: -78px;
                font-size: 20px;
            }
        }
        .button{
            min-width: 136px;
            height: 36px;
            line-height: 35px;
            padding: 0 5px;
            margin-bottom: 15px;
            border: 1px solid transparent;
            
            &.btn-cancel{
                background-color: #E8E8E8;
                color: #222222;
                margin-right: 12px;
                &:hover{
                    background-color: #fff;
                    border: 1px solid #222222;
                    color: #222222;
                }
            }
            &.btn-ok{
                background-color: $color_primary;
                color: #fff;
                &:hover{
                    background-color: #fff;
                    border: 1px solid #222222;
                    color: #222222;
                }
            }
            &.btn-del{
                background-color: #DE2424;
                color: #fff;
                &:hover{
                    background-color: #fff;
                    border: 1px solid #222222;
                    color: #222222;
                }
            }
        }
        @media (min-width: 768px) {
            .modal-dialog {
                max-width: 435px;
            }
        }
        @media (max-width: 767px) {
            .modal-dialog {
                max-width: 100%;
            }
            .modal-content {
                margin: 15px;
                padding: 35px 25px;
            }
            .modal-header .close {
                width: 38px;
                height: 38px;
                right: -37px;
                top: -55px;
                font-size: 14px;
            }
        }
        @media (max-width: 410px) {
            .modal-header .close {
                right: -30px;
            }

            .modal-content {
                margin: 15px;
                padding: 35px 10px;
            }
            .button{
                min-width: 120px;
                &.btn-cancel {
                    margin-right: 0px;
                }
            }
        }
        
    }

    &--history{
        .modal-body {
            padding: 50px 10px 40px;
        }
        .image-box{
            margin-bottom: 20px;
        }
        @media (max-width: 767px) {
            .modal-body {
                padding: 50px 0 40px;
            }
        }
    }
    &-history {
        max-height: 60vh;
        padding: 0 45px;

        .modal-body .title-modal {
            margin-bottom: 15px;
        }
        &__top {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 14px;
            color: $color-black-2;
            margin-bottom: 20px;

            p {
                margin-right: 10px;
            }

            .button {
                color: $color-gray-3;
                border-color: $color-gray-3;
                padding: 5px 14px;
            }
            @media (max-width:479px) {
                p {
                    margin-bottom: 10px;
                }
            }
        }
        @media (max-width: 767px) {
            padding: 0 10px;
        }
    }

    @media (max-width: 576px) {
        &-header {
            .close {
                position: absolute;
                right: -5px;
                top: -18px;
                width: 38px;
                height: 38px;
                font-size: 18px;
                &:hover {
                    opacity: 1!important;
                }
            }
        }
        .modal-body{
            .title-modal {
                font-size: 20px;
            }
            .box-item {
                padding: 20px;
                .text {
                    width: 100%;
                    text-align: center;
                }
                .modal-contact {
                    border-top: 1px solid #ccc;
                    padding-top: 10px;
                }
                .button{
                    min-width: 200px;
                    height: 40px;
                    padding: 5px 20px;
                    font-size: 12px;
                    &:after {
                        font-size: 10px;
                    }
                }
            }
            
        }
    }

    @media (max-width:479px) {
        &-body {
            .box-item {
                flex-direction: column;
                padding-bottom: 10px;

                .text {
                    margin-bottom: 10px;
                }

                .modal-contact {
                    border-left: none;
                    padding-left: 0;
                    text-align: center;
                }
            }
        }
    }
}
