.title-about {
    padding: 5% 0 2%;
    text-align: center;
    h1 {
        font-size: 26px;
        font-weight: 600;
    }
    p {
        color: #0A4CE0;
        font-size: 14px;
        font-weight: 500;
        padding-top: 5px;
    }
}

.banner-about {
    .slider-about {
        margin: auto;
        &__item {
            position: relative;
            padding-top: 39%;
            .text {
                position: absolute;
                left: 8%;
                top: 12%;
                z-index: 1;
                font-size: 24px;
                line-height: 35px;
                font-weight: 600;
                color: #fff;
            }
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        @media (max-width: 991px) {
            &__item {
                padding-top: 45%;
            }
        }
        @media (max-width: 767px) {
            &__item {
                padding-top: 61%;
                .text {
                    left: 7%;
                    top: 9%;
                    font-size: 20px;
                    line-height: 29px;
                }
            }
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        li {
            button {
                position: relative;
                border: none;
                background: transparent;
                outline: none;
                text-indent: -999999px;
                width: 20px;
                height: 20px;
                padding: 0;
                &:before {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    content: "";
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    border-radius: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
            &.slick-active {
                button {
                    &:before {
                        background-color: #0A4CE0;
                    }
                }
            }
        }
    }
}

.general-introduce {
    padding: 30px 0;
    font-size: 16px;
}

.convinient {
    margin-bottom: 40px;
    .container {
        .content {
            background: #EDF2F7;
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            padding: 3% 0 2%;
            align-items: center;
            .explain {
                width: 35%;
                p {
                    color: #0A4CE0;
                    width: 70%;
                    font-size: 20px;
                    font-weight: 600;
                }
                .btn {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #0A4CE0;
                    background: white;
                    border-radius: 30px;
                    color: #0A4CE0;
                    transition: .5s;
                    width: 60%;
                    margin-top: 10%;
                    &:after{
                        content: "\e901";
                        font-family: 'icomoon';
                        position: absolute;
                        top: 20%;
                        right: 15px;
                        font-size: 18px;
                        color: $color_primary;
                    }
                    &:hover {
                        background: #0A4CE0;
                        color: white;
                        &:after{
                            color: white;
                        }
                    }
                    img {
                        padding-left: 10px;
                    }
                }
            }
            .demo {
                width: 40%;
                text-align: center;
            }
        }
        @media(max-width:992px) {
            .content {
                .explain {
                    p {
                        width: 100%;
                    }
                    .btn {
                        width: 100%;
                    }
                }
                .demo {
                    .btn {
                        font-size: 15px;
                    }
                }
            }
        }
        @media(max-width:767px) {
            .content {
                .explain {
                    p {
                        font-size: 18px;
                        &:last-child {
                            font-size: 15px;
                        }
                    }
                    .btn {
                        font-size: 15px;
                    }
                }
                .demo {
                    .btn {
                        font-size: 12px;
                    }
                }
            }
        }
        @media(max-width:576px) {
            .content {
                flex-direction: column;
                .explain {
                    padding-bottom: 15px;
                    width: 90%;
                    .btn {
                        margin: 0 auto;
                        margin-top: 10px;
                        width: 70%;
                    }
                }
                .demo {
                    width: auto !important;
                }
            }
        }
        @media(max-width:320px) {
            .content {
                .explain {
                    .btn {
                        width: 90%;
                    }
                }
            }
        }
    }
}

.sec-convinient__search {
    .container {
        .content {
            .demo {
                width: 40%;
                position: relative;
                .light {
                    position: absolute;
                }
                .light1 {
                    top: -4%;
                    left: -24%;
                }
                .light2 {
                    top: -10%;
                    left: 10%;
                }
                .light3 {
                    right: 25%;
                    top: -5%;
                }
            }
        }
        @media(max-width:992px) {
            .content {
                .demo {
                    .light1 {
                        top: 0%;
                    }
                    .light2 {
                        top: -15%;
                        left: 30%;
                    }
                    .light3 {
                        right: -10%;
                    }
                }
            }
        }
        @media(max-width:768px) {
            .content {
                .demo {
                    .light1,
                    .light3,
                    .light2 {
                        img {
                            width: 70%;
                        }
                    }
                    .light3 {
                        left: 60%;
                    }
                }
            }
        }
        @media(max-width:320px) {
            .content {
                .demo {
                    .light {
                        display: none;
                    }
                }
            }
        }
    }
}

.sec-convinient__video {
    .container {
        .content {
            .demo {
                width: 40%;
                text-align: center;
            }
            .explain {
                .btn {
                    margin-top: 15%;
                }
            }
        }
        @media(max-width:576px) {
            .content {
                .explain {
                    .btn {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.sec-convinient__list {
    .container {
        .content {
            padding: 4% 0 3%;
            .demo {
                width: 40%;
                @include flex-content(wrap, center, null);
                .btn {
                    background: #244FD8;
                    border-radius: 4px;
                    width: fit-content;
                    padding: 0 20px;
                    color: white;
                    align-self: flex-end;
                }
                .content {
                    background: #F4F9FF;
                    display: flex;
                    .img {
                        margin: 20px;
                        background: #85B9E1;
                        padding: 40px;
                    }
                    .text {
                        padding: 20px;
                    }
                }
            }
        }
        @media(max-width:576px) {
            .content {
                .demo {
                    width: 90%;
                }
            }
        }
    }
}

.sec-convinient__manage {
    .container {
        .content {
            .explain {
                p:last-child {
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 15%;
                }
            }
        }
        @media(max-width:576px) {
            .content {
                .explain {
                    p:last-child {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}