// font-family: Noto Sans CJK JP;
.sec-introduce {
    font-family: 'Noto Sans JP', sans-serif;
    h1 {
        color: #222222;
        text-align: center;
        font-size: 26px;
        font-weight: medium;
        padding: 10% 0;
    }
    .content {
        padding-bottom: 7%;
        dt {
            color: #0A4CE0;
            padding-bottom: 10px;
            display: flex;
            img {
                padding-right: 10px;
            }
            &:first-child {
                border-bottom: 1px solid #0A4CE0;
                margin-bottom: 10px;
            }
            h2 {
                font-weight: medium;
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
                font-weight: medium;
                position: relative;
                padding-left: 12px;
                &::before {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 25px;
                    background: #0A4CE0;
                    left: 0;
                    top: 0;
                }
            }
            h4 {
                font-weight: 500;
                font-size: 18px;
                color:  #345FD1;
            }
        }
        dd {
            font-size: 16px;
            font-weight: 500;
            padding: 5px 0 30px;
        }
        a {
            font-size: 16px;
            padding-bottom: 2px;
            position: relative;
            padding-left: 15px;
            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                top: 3px;
                left: 0;
                border-style: solid;
                border-width: 5px 0 5px 8px;
                border-color: transparent transparent transparent #0A4CE0;
            }
        }
    }
    .less {
        padding-top: 7%;
        dl dt {
            padding: 16px 0;
        }
    }
    @media (max-width: 575px) {
        h1 {
            font-size: 24px;
        }
        .content {
            dt {
                padding-bottom: 7px;
            }
            p {
                a {
                    font-size: 15px;
                }
            }
        }
    }
}

.sec-sampleImg {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 30px 0;
    color: #333333;
    .container {
        .title {
            font-size: 24px;
            font-weight: 600;
            color: #0A4CE0;
            padding-bottom: 10px;
            border-bottom: 1px solid #0A4CE0;
        }
        .content {
            padding-bottom: 7%;
            padding-top: 20px;
            h2 {
                color: #0A4CE0;
                font-size: 20px;
                padding-left: 12px;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 25px;
                    background: #0A4CE0;
                    left: 0;
                    top: 0;
                }
            }
            .text-full {
                text-align: left;
                font-size: 16px;
                font-weight: 500;
                color: #333333;
                padding-bottom: 20px;
            }
            .row {
                padding: 20px 0;
                .text {
                    text-align: left;
                    font-size: 16px;
                    font-weight: 500;
                    color: #333333;
                }
                .img {
                    p {
                        width: 35%;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 600;
                        color: #F70214;
                    }
                }
            }
        }
        .content2 {
            p {
                font-size: 16px;
                color: #333333;
                padding-top: 15px;
                font-weight: 500;
            }
            .group_image2 {
                display: flex;
                justify-content: space-between;
                padding: 20px 0;
                .img {
                    width: 47%;
                    display: flex;
                    background: #E5E5E5;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    p {
                        width: 40%;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 600;
                        color: #F70214;
                    }
                }
            }
            .content2_res {
                display: none;
            }
        }
        .content3 {
            .row {
                .img {
                    p {
                        width: 49%;
                    }
                }
            }
        }
        .content5 {
            .text-full {
                padding-top: 20px;
            }
            p {
                font-weight: 500;
            }
            .img {
                background: #E5E5E5;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 30%;
                margin-bottom: 10px;
                p {
                    width: 50%;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 600;
                    color: #F70214;
                }
            }
        }
        .content9 {
            .vertical_ex {
                padding-top: 20px;
                .item {
                    display: flex;
                    flex-direction: column;
                    margin: 0 15px;
                    &:first-child {
                        margin-left: 0;
                    }
                    .rectangle {
                        height: 252px;
                        width: 169px;
                        background: #E5E5E5;
                    }
                    
                    p {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 5px 0;
                        width: 169px;
                    }
                }
            }
        }
        .vertical_ex {
            margin-bottom: -40px;
            &__item{
                margin-bottom: 40px;
                .item__thumb{
                    padding-top: 145%;
                    margin-bottom: 15px;
                }
            }
        }
        @media (max-width:992px) {
            .content9 {
                .vertical_ex {
                    .item {
                        margin: 15px 0;
                        align-items: center;
                    }
                }
            }
        }
        @media (max-width:767px) {
            .content {
                .row {
                    padding: 15px 0;
                }
            }
            .content1 {
                .row {
                    flex-direction: column-reverse;
                    .img {
                        margin: 20px 0;
                    }
                }
            }
            .content2 {
                .content2_res {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
            .content3 {
                display: none;
            }
            .content4 {
                .row {
                    .text {
                        margin: 10px 0;
                    }
                }
                .text-full,
                .text-ali {
                    display: none;
                }
            }
            .content5 {
                display: none;
            }
            .content7 {
                display: none;
            }
            .content8 {
                .text-full {
                    display: none;
                }
                .row {
                    flex-direction: column-reverse;
                    .text {
                        margin: 10px 0;
                    }
                }
            }
        }
        @media (max-width:576px) {
            .content6 {
                .group_image2 {
                    flex-direction: column;
                    .img {
                        width: 100%;
                        &:first-child {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

.sec-table-design {
    padding-bottom: 50px;
    .title {
        font-size: 24px;
        font-weight: 600;
        color: #0A4CE0;
        padding-bottom: 10px;
        border-bottom: 1px solid #0A4CE0;
    }
    .design1 {
        padding-top: 20px;
        padding-bottom: 35px;
        table {
            border-top: 1px solid #8C98C2;
            border-bottom: 1px solid #8C98C2;
            tr td:nth-child(1),
            tr th:nth-child(1) {
                background: #EFF2FA;
                width: 12.5%;
                min-width: 100px;
                @media(max-width: 576px) {
                    width: 25%;
                }
            }
            tr:nth-child(2) {
                border-bottom: 1px solid #8C98C2;
            }
            th {
                padding-top: 2%;
                padding-left: 2%;
                &:last-child {
                    padding: 2% 0 .5% 5%;
                }
            }
            td {
                &:last-child {
                    padding: 2%;
                    padding-top: 0;
                    .img {
                        width: 47%;
                        display: flex;
                        background: #E5E5E5;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        margin: 10px 0;
                        p {
                            width: 45%;
                            text-align: center;
                            font-size: 20px;
                            font-weight: 600;
                            color: #F70214;
                        }
                    }
                }
            }
        }
    }
    .design2 {
        padding: 35px 0;
        table {
            width: 100%;
            border-bottom: 1px solid #8C98C2;
            tr th {
                &:nth-child(1) {
                    background: #EFF2FA;
                    width: 12.5%;
                }
            }
            tr {
                border-top: 1px solid #8C98C2;
                th {
                    padding: 20px;
                }
            }
        }
    }
    .design3 {
        padding: 30px 0;
        table {
            width: fit-content;
            border-bottom: 1px solid #8C98C2;
            tr td:first-child {
                background: #D9DFF2;
            }
            td {
                width: 20%;
                padding-left: 20px;
                line-height: 40px;
            }
            tr{
                border-top: 1px solid #8C98C2;
                td:last-child {
                    background: #EFF2FA;
                }
            }
        }
    }
    .design4 {
        padding: 30px 0;
        padding-bottom: 50px;
        table {
            width: 100%;
            td {
                vertical-align: middle !important;
            }
            .first .titl {
                background: #D9DFF2;
                width: 21.5%;
            }
            .first {
                td:nth-child(2) {
                    background: #EFF2FA;
                }
            }
            tr td:first-child {
                background: #EFF2FA;
            }
            tr {
                border: 1px solid #8C98C2;
                border-right: none;
                border-left: none;
                td {
                    padding: 20px;
                }
            }
            @media (max-width: 576px) {
                .first .titl {
                    width: 40%;
                }
            }
        }
        &.-mb{
            table{
                tr{
                    td {
                        padding: 10px;
                        &:last-child{
                            width: 80px;
                            font-size: 14px;
                        }
                    }
                }
                .first .titl{
                    width: 84px;
                }
            }
        }
    }
    .design5 {
        table {
            width: 100%;
            th {
                background: #4060CA;
                padding: 10px 20px;
                font-size: 15px;
                color: white;
                font-weight: 500;
                &:first-child {
                    width: 15%;
                    border-right: 1px solid #8C98C2;
                }
            }
            tr {
                border-bottom: 1px solid #8C98C2;
                td:first-child {
                    background: #D9DFF2;
                    vertical-align: middle;
                    padding-left: 20px;
                    
                }
                td:last-child {
                    padding: 15px 20px;
                }
            }
        }
    }
    @media (max-width:992px) {
        .design1 {
            table {
                td:last-child {
                    .img {
                        width: 100%;
                    }
                }
            }
        }
        .design2 {
            table {
                tr th {
                    padding: 17px;
                    &:nth-child(1) {
                        width: 15%;
                        min-width: 120px;
                        padding: 17px 12px;
                    }
                    &:nth-child(2) {
                    }
                }
            }
        }
        .design3{
            table {
                width: 100%;
            }
        }
    }
    @media (max-width:767px) {
        padding: 25px 0;
        .design2 {
            table {
                tr {
                    th:nth-child(1) {
                        width: 30%;
                    }
                }
            }
        }
        .design5 {
            table {
                tr {
                    th:first-child {
                        width: 70px;
                        padding-right: 0;
                        padding: 10px 10px 10px 12px;
                        
                    }
                    td:first-child {
                        background: #D9DFF2;
                        padding-left: 10px;
                    }
                    td:last-child {
                        background: #EFF2FA;
                        padding: 20px 10px;
                    }
                }
            }
        }
    }

}

.sec-events {
    padding: 50px 0;
    .title {
        color: #345FD1;
        font-size: 18px;
        font-weight: 500;
    }
    .note {
        text-align: right;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .table-responsive {
        overflow-x: auto;
        table {
            width: 100%;
            tr {
                border-bottom: 1px solid #8C98C2;
                td {
                    border-top: 1px solid #8C98C2;
                    &:first-child {
                        background: #D9DFF2;
                        padding-left: 20px;
                        vertical-align: middle;
                    }
                }
                .row8 {
                    text-align: center;
                    vertical-align: middle;
                    background: #F5F5F5;
                }
                .row2 {
                    background: #EFF2FA;
                    padding: 30px 20px;
                    padding-right: 50px;
                }
                .price {
                    text-align: right;
                    vertical-align: middle;
                    padding-right: 20px;
                }
            }
            th {
                background: #4060CA;
                padding: 10px 20px;
                padding-right: 0;
                font-size: 15px;
                color: white;
                font-weight: 500;
                border-top: 1px solid #8C98C2;
                &:not(:last-child){
                    border-right: 1px solid #8C98C2;
                }
                &:first-child {
                    width: 20%;
                }
                &:nth-child(2) {
                    width: 56%;
                }
                &:nth-child(3) {
                    width: 12%;
                }
                &:nth-child(4) {
                    width: 12%;
                }
            }
        }
    }
    .text {
        padding-top: 10px;
        font-size: 14px;
        color: #333333;
    }
    @media (max-width:992px) {
        .table-responsive {
            .table {
                min-width: 960px;
                overflow-x: scroll;
            }
        }
    }
    @media (max-width:767px) {
        padding: 25px 0;
        .table-responsive{
            table{
                th{
                    padding: 10px 12px;
                    &:nth-child(2) {
                        width: 65%;
                    }
                }
                th, td{
                    &:first-child {
                        width: 135px;
                    }
                }
                td{
                    padding: 20px 12px!important;
                }
            }
        }
    }
}

.sec-price-setting {
    padding: 50px 0;
    .title {
        color: #0A4CE0;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 20px;
        padding-left: 12px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 2px;
            height: 25px;
            background: #0A4CE0;
            left: 0;
            top: 0;
        }
    }
    .letter {
        background: #EFF2FA;
        border-top: 1px solid #8C98C2;
        width: 100%;
        margin-bottom: 20px;
        .content {
            width: 57%;
            text-align: center;
            display: flex;
            align-items: center;
            margin: 0 auto;
            font-weight: 600;
            font-size: 16px;
            padding-top: 40px;
            padding-bottom: 20px;
        }
        .sign {
            text-align: right;
            padding-right: 20px;
            padding-bottom: 20px;
        }
    }
    @media (max-width:767px) {
        padding: 25px 0;
        .letter {
            .content {
                padding: 43px 10px 10px 10px;
                width: 100%;
            }
        }
    }
}

.sec-video {
    padding: 50px 0;
    .title {
        color: #0A4CE0;
        font-size: 24px;
        font-weight: 600;
        border-bottom: 1px solid #0A4CE0;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    @media (max-width:767px) {
        padding: 25px 0;
        .video {
            iframe {
                width: 250px !important;
            }
        }
    }
    @media (max-width:575px) {
        .video {
            video {
                width: 100%;
            }
        }
    }
}

.sec-btnn {
    padding: 50px 0;
    .title {
        color: #0A4CE0;
        font-size: 24px;
        font-weight: 600;
        border-bottom: 1px solid #0A4CE0;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
    @media (max-width:767px) {
        padding: 25px 0;
    }
}

.sec-connect {
    padding: 50px 0;
    .title {
        color: #0A4CE0;
        font-size: 24px;
        font-weight: 600;
        border-bottom: 1px solid #0A4CE0;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
    .list-connect {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 30px;
        margin-right: -5px;
        margin-left: -5px;
        .show-more-action {
            margin-left: 5px;
            margin-right: 5px;
        }
        
    }
    .anchor-links {
        .title {
            border: none;
            margin-bottom: 10px;
            padding-left: 12px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 2px;
                height: 25px;
                background: #0A4CE0;
                left: 0;
                top: 0;
            }
        }
        .list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            a {
                display: flex;
                position: relative;
                width: 12.5%;
                padding-left: 20px;
                &::before {
                    content: "\e908";
                    font-family: 'icomoon';
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 20px;
                    color: #2760E5;
                }
            }
        }
    }
    @media (max-width:992px) {
        .anchor-links {
            .list {
                a {
                    width: 25%;
                }
            }
        }
    }
    @media (max-width:767px) {
        padding: 25px 0;
        .list-connect{
            .show-more-action {
                -ms-flex: 0 0 calc(50% - 10px);
                flex: 0 0 calc(50% - 10px);
                max-width: calc(50% - 10px);
            }
        }
        .anchor-links {
            .list {
                a {
                    width: 33.333333%;
                }
            }
        }
    }
    @media (max-width:480px) {
        .anchor-links {
            .list {
                a {
                    width: 50%;
                }
            }
        }
    }
  
}

.sec-download {
    padding: 50px 0;
    .content {
        display: flex;
        border: 1px solid #B2B2B2;
        padding: 30px 0;
        background-color: #FAFAFA;
        .icon-chevron-right{
            position: relative;
            top: -2px;
            font-size: 9px;
            color: #222222;
        }
        .res_link {
            display: none;
            color: #707070;
            text-decoration: underline;
        }
        img {
            padding-left: 70px;
        }
        .text {
            padding-left: 70px;
            p {
                font-size: 16px;
                font-weight: bold;
                color: #707070;
            }
            a {
                color: #707070;
                text-decoration: underline;
            }
            img {
                padding-left: 15px;
            }
        }
    }
    @media (max-width:992px) {
        .content {
            justify-content: space-between;
            img,
            .text {
                padding: 0 20px;
            }
        }
    }
    @media (max-width:767px) {
        padding: 25px 0;
        .content {
            position: relative;
            padding-bottom: 50px;
            img {
                padding: 0 10px;
                object-fit: none;
            }
            .text {
                padding: 0 10px;
                .linkpdf {
                    display: none;
                }
            }
            .res_link {
                display: block;
                position: absolute;
                bottom: 10px;
                left: 20px;
            }
            a {
                margin-left: 10px;
            }
        }
    }
}

.sec-list {
    padding: 20px 0;
}