
.login{
    &-form{
        max-width: 400px;
        margin: 50px auto 80px;
        font-size: 14px;
        .form-group{
            margin-bottom: 10px;
        }
        input{
            background-color: #E8E8E8;
        }
        .form-check{
            font-size: 16px;
            color: #222222;
            input[type=checkbox] {
                position: relative;
                transform: scale(1.4);
            }
        }
        &__submit{
            margin-top: 60px;
            min-width: 180px;
            margin-bottom: 20px;
        }
    }
}

.slider-login {
    max-width: 860px;
    margin: auto;

    &__item {
        position: relative;
        padding-top: 39%;

        .text {
            position: absolute;
            left: 8%;
            top: 12%;
            z-index: 1;
            font-size: 24px;
            line-height: 35px;
            font-weight: 600;
            color: $color-white;

            &.color-blue {
                color: $color-primary;
            }
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 991px ){
        &__item {
            padding-top: 45%;
        }
    }
    @media (max-width: 767px ) {
        &__item {
            padding-top: 61%;

            .text {
                left: 7%;
                top: 9%;
                font-size: 20px;
                line-height: 29px;
            }
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    li {
        button {
            position: relative;
            border: none;
            background: transparent;
            outline: none;
            text-indent: -999999px;
            width: 20px;
            height: 20px;
            padding: 0;

            &:before {
                position: absolute;
                left: 50%;
                top: 50%;
                content: "";
                width: 10px;
                height: 10px;
                background-color: $color-white;
                border-radius: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }

        &.slick-active {
            button {
                &:before {
                    background-color: $color-primary;
                }
            }
        }
    }
}

