.movie-detail {
    width: 100%;
    max-width: 690px;
    padding-bottom: 40px;
    margin: 0 auto;
    .video-box {
        
        background: white;
        padding: 0;
    }
   
    .core__knowledge {
        .title {
            display: flex;
            align-items: center;
            input {
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }
            span {
                color: #0A4CE0;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .date {
            font-size: 13px;
            font-weight: 500;
        }
        .des {
            font-size: 16px;
        }
    }
    @media (max-width: 767px) {
        .video-box {
            max-width: 100%;
        }
        .core__knowledge{
            max-width: 100%;
        }
    }
}

.row_movie {
    position: relative;
    .title-seemore {
        font-size: 20px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .control_top {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .button {
            transition: .5s;
            &:hover {
                color: white;
                background: #0A4CE0;
                border: #0A4CE0 1px solid;
            }
        }
    }
    @media (max-width: 767px) {
        .control_top{
            p.style-2{
                display: none;
            }
        }
        .title-seemore {
            transform: translate(0, 0);
            position: relative;
            left: 0;
            margin-bottom: 20px;
        }
    }
}