.wrapper-page_list {
    // margin: 3% 0;
}

.search-top__detail {
    max-width: 670px;
    margin: auto;
}

.list-detail {
    margin-top: 15%;
    .title {
        color: #0A4CE0;
        border-bottom: 1px solid #0A4CE0;
        padding-bottom: 5px;
        font-size: 24px;
    }
    .content {
        font-size: 16px;
        padding-top: 6%;
    }
}