.product__detail {
    width: 100%;
    background: #EFF2FA;
    margin-bottom: 5%;
    padding-bottom: 3%;
    .container {
        .content {
            display: flex;
            flex-direction: row;
            padding: 5% 0;
            .img {
                margin-right: 20px;
                width: 32%;
                img {
                    border-radius: 10px;
                }
            }
            .descrip {
                margin-left: 20px;
                position: relative;
                .brand {
                    font-size: 14px;
                    font-weight: 600;
                    color: #333333;
                }
                .name {
                    font-size: 26px;
                    font-weight: 600;
                    color: #333333;
                    span {
                        color: red;
                        font-size: 13px;
                        font-weight: 500;
                        vertical-align: super;
                    }
                }
                .detail {
                    font-size: 16px;
                    font-weight: 500;
                    padding-top: 10px;
                }
                .quantity {
                    width: 100%;
                    border-bottom: 1px dotted #333333;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 15px;
                    padding-top: 5px;
                    font-size: 13px;
                    div {
                        color: #0A4CE0;
                        padding: 3px 10px;
                        background: white;
                    }
                }
                .price {
                    padding-top: 5px;
                    font-size: 14px;
                    span {
                        font-size: 24px;
                        font-weight: 600;
                    }
                    p:last-child {
                        font-size: 13px;
                    }
                }
                .see_more {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: white;
                    color: #0A4CE0;
                    border-radius: 6px;
                    padding: 10px 20px;
                    transition: .5s;
                    &:hover {
                        background: #0A4CE0;
                        color: white;
                        img {
                            filter: grayscale(100%) brightness(110%) contrast(3) invert(100%);
                        }
                    }
                }
            }
        }
        .download {
            background: white;
            border-radius: 10px;
            .title {
                font-size: 18px;
                padding-top: 25px;
            }
            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 3% 0;
                margin-bottom: 3%;
                div {
                    display: flex;
                    flex-direction: column;
                    a {
                        text-decoration: underline;
                        display: inline-block;
                        margin: 5px 0;
                        span {
                            color: white;
                            font-size: 10px;
                            background: red;
                            padding: 0 7px;
                            text-decoration: underline red !important;
                            margin-left: 10px;
                        }
                        &:hover {
                            color: #0A4CE0;
                        }
                    }
                }
                div:last-child {
                    padding-left: 5%;
                }
                div:first-child {
                    padding-right: 5%;
                }
            }
        }
        @media (max-width:992px) {
            .content {
                flex-direction: column;
                .img {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 20px;
                    text-align: center;
                    img {
                        width: 35%;
                    }
                }
            }
        }
        @media (max-width:768px) {
            .content {
                .descrip {
                    .quantity {
                        p {
                            width: 60%;
                        }
                        div {
                            height: fit-content;
                        }
                    }
                }
            }
        }
        @media (max-width:576px) {
            .download {
                .content {
                    flex-direction: column;
                    div:first-child {
                        padding-left: 5%;
                    }
                }
            }
            .content {
                .descrip {
                    .see_more {
                        font-size: 10px;
                        padding: 5px 10px;
                    }
                    .name {
                        padding-top: 10px;
                    }
                    .quantity {
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}

.title_moreProduct {
    font-size: 20px;
}