.footer{
    padding: 50px 0 40px;
    background-color: #0A4CE0;
    color: #fff;
    text-align: center;
    font-size: 14px;
    position: relative;
    >.container{
        position: relative;
    }
    &__logo{
        margin-bottom: 45px;
    }
    &__menu {
        @include flex-content(wrap, center, null);
        max-width: 680px;
        margin: 0 auto 45px;
        text-align: left;

        &-item {
            @include flex-col(33.333333%);
            padding-left: 30px;
            a {
                position: relative;
                display: block;
                max-width: 170px;
                color: $color-white;
                font-weight: 500;
                margin-bottom: 20px;

                &:after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    content: "\e918";
                    font-family: 'icomoon';
                    font-size: 8px;
                    transition: all 0.3s;
                }

                &:hover {
                    &:after {
                        transform: translateY(-50%) translateX(5px);
                    }
                }
            }

            &:first-child, &:nth-child(4) {
                padding-left: 0;
            }
        }
    }
    &__menu2 {
        // @include flex-content(wrap, center, null);
        max-width: 680px;
        margin: 0 auto 35px;
        // text-align: left;

        &-item {
            // @include flex-col(33.333333%);
            position: relative;
            display: inline-block;
            padding: 0 25px 0 20px;
            margin: 0 25px 20px;
            a {
                display: block;
                color: $color-white;
                font-weight: 500;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    content: "\e918";
                    font-family: 'icomoon';
                    font-size: 8px;
                    transition: all 0.3s;
                }
                &:after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: 1px;
                    transform: translateY(-50%);
                    background-size: cover;
                    transition: all 0.3s;
                    content: "\e916";
                    font-family: 'icomoon';
                    font-size: 13px;
                }

                &:hover {
                    &:before {
                        transform: translateY(-50%) translateX(5px);
                    }
                }
            }
        }
    }
    &__button {
        @include flex-content(wrap, space-between, center);
        margin: 0 -10px 35px;
        &-item {
            width: 20%;
            padding: 0px 10px;
            margin-bottom: 15px;
            .button {
                width: 100%;
                font-size: 12px;
                &:hover {
                    background: #fff;
                    color: $color-primary;
                }
            }
        }
    }
    &__copyright{
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 500;
    }

    @media (max-width: 992px) {
        padding-bottom: 60px;
        &__menu {
            margin-bottom: 25px;
        }
        &__button {
            margin-bottom: 30px;
            &-item {
                width: 50%;
                padding: 0 5px 10px;
            }
        }
    }

    @media (max-width: 576px) {
        font-size: 16px;

        &__menu {
            &-item {
                width: 100%;
                padding-left: 0;
                a {
                    font-weight: 500;
                    max-width: 100%;
                }
            }
        }
        &__button {
            &-item {
                width: 100%;
                padding: 0 0px 10px;

                .button {
                    font-size: 16px;
                }
            }
        }
    }
}

