.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, .16);
    &--login {
        box-shadow: none;
        padding: 10px 0px;
        .container {
            max-width: 890px;
        }
    }
    &__wrap {
        @include flex-content(wrap, space-between, center);
        .logo {
            padding-left: 30px;
        }
    }
    &__user__name{
        color: #222222;
        margin-left: 20px;
    }
    &__mylist__icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 16px;
        background-color: #ED5714;
        line-height: 35px;
        text-align: center;
        color: #fff;
        margin-right: 15px;
        display: inline-block;
        span{
            position: relative;
            top: 1px;
        }
        &:hover{
            background-color: #0a4ce0;
            color: #fff;
        }
    }
    &-content {
        display: flex;
        align-items: center;
        .text {
            // color: $color-black-2;
            padding-right: 24px;
            line-height: 0;
            color: #000;
            &:hover{
                color: #0A4CE0;
            }
        } 
        .button {
            background-color: $color-orange;
            color: $color-white;
            border: none;
            border-radius: 8px;
            padding: 5px 25px;
            margin-right: 20px;
            outline: none;
            a {
                color: $color-white;
            }
            &:hover{
                background-color: #FC7438;
            }
        }
        .btn-menu {
            position: relative;
            background: $color-primary;
            cursor: pointer;
            width: 65px;
            height: 65px;
            margin-top: -7px;
            -webkit-transition: all ease .238s;
            -moz-transition: all ease .238s;
            transition: all ease .238s;
            &:before,
            &:after,
            span {
                background-color: $color-white;
                -webkit-transition: all ease .238s;
                -moz-transition: all ease .238s;
                transition: all ease .238s;
            }
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                height: 2px;
                width: 28px;
                left: 19px;
                top: 50%;
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
            }
            span {
                position: absolute;
                width: 28px;
                height: 2px;
                left: 19px;
                top: 50%;
                overflow: hidden;
                text-indent: 200%;
            }
            &:before {
                transform: translate3d(0, -7px, 0);
            }
            &:after {
                transform: translate3d(0, 7px, 0);
            }
            &.active {
                background-color: $color-gray-3;
                span {
                    opacity: 0;
                }
                &:before,&:after{
                    width: 28px;
                    left: 19px;
                }
                &:before {
                    background-color: $color-white;
                    transform: rotate3d(0, 0, 1, 45deg);
                }
                &:after {
                    background-color: $color-white;
                    transform: rotate3d(0, 0, 1, -45deg);
                }
            }
        }
        @media (max-width: 1200px) {
            .text {
                display: none;
            }
        }
    }
    @media (max-width:767px){
        &__wrap{
            .logo {
                padding-left: 10px;
                img{
                    display: block;
                    max-width: 210px;
                }
            }
        }
    }
}
main,.breadcrumb-page {
    padding-top: 58px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.breadcrumb-page + main {
    padding-top: 0;
}
.ic-logout{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #E8E8E8;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 5px;
    &:after{
        content: "";
        width: 13px;
        height: 13px;
        background-image: url(../images/logout.svg);
        position: absolute;
        top: 5px;
        left: 6px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.menu-nav {
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    min-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: $color-white;
    padding-top: 120px;
    z-index: 1001;
    transition: all 0.3s ease-in-out;
    padding-bottom: 70px;
    &__link {
        .item {
            a {
                position: relative;
                display: block;
                max-width: 197px;
                font-weight: 500;
                margin-bottom: 50px;
                &.-large{
                    max-width: 287px;
                }
                span {
                    display: block;
                    &.sub {
                        color: $color-primary;
                        font-size: 12px;
                        font-family: 'Montserrat', sans-serif;
                        line-height: normal;
                    }
                    &.name {
                        position: relative;
                        font-size: 18px;
                        color: $color-black-2;
                        padding-right: 20px;
                        &:after {
                            content: "\e901";
                            font-family: 'icomoon';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            transition: all 0.3s;
                            display: block;
                            font-size: 20px;
                            line-height: 16px;
                            color: #0A4CE0;
                            
                        }
                    }
                }
                &:hover {
                    .name {
                        &:after {
                            transform: translateY(-50%) translateX(5px);
                        }
                    }
                }
            }
        }
    }
    &__button {
       
        .item {
            // width: 25%;
            // padding: 0px 10px;
            .button {
                width: 100%;
                font-size: 13px;
                color: $color-primary;
                border-color: $color-primary;
                margin-bottom: 20px;
                padding: 9px 8px;
                &.download{
                    padding-right: 27px;
                }
                &:hover {
                    background: $color-primary;
                    color: $color-white;
                }
            }
        }
    }
    .button-user {
        .btn{
            height: 40px;
            line-height: 40px;
            padding: 0px 16px;
        }
        .btn-infoz {
            background-color: $color-blue;
            color: $color-primary;
            font-size: 12px;
            border-radius: 20px;
            min-width: 160px;
            border: 1px solid transparent;
            >span{
                position: relative;
                top: -1px;
            }
            &:hover{
                border-color: $color_primary;
            }
        }
        .btn-logout{
            background-color: #E8E8E8;
            color: #222222;
            font-size: 14px;
            border-radius: 6px;
            border: 1px solid transparent;
            white-space: nowrap;
            >span{margin-left: 0;}
            &:hover{
                border-color: $color_primary;
            }
        }
    }
    @media (max-width: 1200px) {
        padding-top: 25px;
    }
    @media (max-width: 767px) {
        
        &__link {
            .item {
                a {
                    max-width: 100%;
                    margin-bottom: 15px;
                    &.-large{
                        max-width: 100%;
                    }
                    span.name {
                        font-size: 16px;
                    }
                }
            }
        }
        &__button{
            .item {
                .button{
                    margin-bottom: 15px;
                }
            }
        }
       
    }
    @media (max-width: 576px) {
        
        .button-user .btn-infoz{
            -ms-flex-positive: 1;
            flex-grow: 1;
            min-width: 100px;
            margin-right: 7px!important;
        }
    }
}

.show-menu {
    overflow: hidden;
    .menu-nav {
        opacity: 1;
        visibility: visible;
        overflow: auto;
        height: 100%;
        min-height: calc(100vh - 58px);
    }
}