.header {
    box-shadow: 4px 12px 47px 0 rgba(0, 0, 0, .1);
    &--login {
        box-shadow: none;
        padding: 10px 0px;
        .container {
            max-width: 890px;
        }
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            padding-left: 30px;
        }
    }
    &__user__name{
        color: #222222;
    }
    &__mylist__icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 16px;
        background-color: #ED5714;
        line-height: 35px;
        text-align: center;
        color: #fff;
        margin-right: 15px;
        display: inline-block;
        span{
            position: relative;
            top: 1px;
        }
        &:hover{
            background-color: #0a4ce0;
            color: #fff;
        }
    }
    &-content {
        display: flex;
        align-items: center;
        .text {
            // color: $color-black-2;
            padding-right: 24px;
            line-height: 0;
            color: #000;
            &:hover{
                color: #0A4CE0;
            }
        } 
        .button {
            background-color: $color-orange;
            color: $color-white;
            border: none;
            border-radius: 8px;
            padding: 5px 25px;
            margin-right: 20px;
            outline: none;
            a {
                color: $color-white;
            }
            &:hover{
                background-color: #FC7438;
            }
        }
        .btn-menu {
            position: relative;
            background: $color-primary;
            cursor: pointer;
            width: 65px;
            height: 65px;
            margin-top: -7px;
            -webkit-transition: all ease .238s;
            -moz-transition: all ease .238s;
            transition: all ease .238s;
            &:before,
            &:after,
            span {
                background-color: $color-white;
                -webkit-transition: all ease .238s;
                -moz-transition: all ease .238s;
                transition: all ease .238s;
            }
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                height: 2px;
                width: 28px;
                left: 19px;
                top: 50%;
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
            }
            span {
                position: absolute;
                width: 28px;
                height: 2px;
                left: 19px;
                top: 50%;
                overflow: hidden;
                text-indent: 200%;
            }
            &:before {
                transform: translate3d(0, -10px, 0);
            }
            &:after {
                transform: translate3d(0, 10px, 0);
            }
            &.active {
                background-color: $color-gray-3;
                span {
                    opacity: 0;
                }
                &:before,&:after{
                    width: 18px;
                    left: 25px;
                }
                &:before {
                    background-color: $color-white;
                    transform: rotate3d(0, 0, 1, 45deg);
                }
                &:after {
                    background-color: $color-white;
                    transform: rotate3d(0, 0, 1, -45deg);
                }
            }
        }
        @media (max-width: 1200px) {
            .text {
                display: none;
            }
        }
    }
}
.ic-logout{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #E8E8E8;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 5px;
    &:after{
        content: "";
        width: 13px;
        height: 13px;
        background-image: url(../images/logout.svg);
        position: absolute;
        top: 5px;
        left: 6px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.menu-nav {
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    min-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: $color-white;
    padding-top: 100px;
    z-index: 1001;
    transition: all 0.3s ease-in-out;
    &__link {
        display: flex;
        flex-wrap: wrap;
        max-width: 930px;
        margin: 0 auto 40px;
        .item {
            width: 33.333333%;
            padding-left: 55px;
            a {
                position: relative;
                display: block;
                max-width: 190px;
                font-weight: 500;
                margin-bottom: 30px;
                span {
                    display: block;
                    &.sub {
                        color: $color-primary;
                        font-size: 12px;
                        font-family: 'Montserrat', sans-serif;
                    }
                    &.name {
                        position: relative;
                        font-size: 18px;
                        color: $color-black-2;
                        &:after {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 6px;
                            height: 10px;
                            transform: translateY(-50%);
                            content: "";
                            background: url(../images/arrow-right-active.svg) center no-repeat;
                            background-size: cover;
                            transition: all 0.3s;
                        }
                    }
                }
                &:hover {
                    .name {
                        &:after {
                            transform: translateY(-50%) translateX(5px);
                        }
                    }
                }
            }
            &:first-child,
            &:nth-child(4) {
                padding-left: 30px;
            }
        }
    }
    &__button {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto 15px;
        .item {
            width: 25%;
            padding: 0px 10px;
            .button {
                width: 100%;
                font-size: 16px;
                color: $color-primary;
                border-color: $color-primary;
                &.download:before {
                    background-image: url(../images/login-icon1.png);
                }
                &:hover {
                    background: $color-primary;
                    color: $color-white;
                }
            }
        }
    }
    .button-user {
        .button {
            background-color: $color-blue;
            color: $color-primary;
            font-size: 14px;
            border-radius: 20px;
            padding: 7px 10px;
            min-width: 160px;
            border: 1px solid transparent;
            &:hover{
                border-color: $color_primary;
            }
        }
    }
    @media (max-width: 1200px) {
        padding-top: 30px;
    }
    @media (max-width: 991px) {
        &__button {
            .item {
                width: 50%;
                padding: 0 10px 20px;
            }
        }
    }
    @media (max-width: 767px) {
        &__link {
            .item {
                width: 50%;
                padding-left: 15px;
                &:first-child,
                &:nth-child(4) {
                    padding-left: 15px;
                }
                a {
                    max-width: 215px;
                }
            }
        }
    }
    @media (max-width: 576px) {
        &__link {
            .item {
                width: 100%;
                padding-left: 0;
                &:first-child,
                &:nth-child(4) {
                    padding-left: 0;
                }
                a {
                    max-width: 100%;
                }
            }
        }
        &__button {
            .item {
                width: 100%;
                padding: 0 0px 20px;
            }
        }
    }
}

.show-menu {
    overflow: hidden;
    .menu-nav {
        opacity: 1;
        visibility: visible;
        overflow: auto;
        height: 100%;
        min-height: calc(100vh - 58px);
    }
}